body{
    background-color: #ac6421;
}
#nav-bar{
    width: 100%;
    height: 14%;
}
#nav-list{
    list-style-type: none;
	list-style: none;
    display: flex;
    flex-direction: row;
    width: 30%;
    margin-left: 35%;
    margin-right: 35%;
    padding: 0%;
}
#nav-list li{
    margin: auto;
}
button{
    background-color: #3A5F74;
    border: none;
    border-radius: 5px;
    padding: 5px;
}
button:hover{
    background-color: #1f5574;
}
#shallow-search{
    width: 10%;
    margin-left: 45%;
}

.search-form{
    width: 30%;
    margin-left: 35%;
    margin-right: 35%;
}
.search-result{
    height: 150px;
    margin: 5px;
}
.result-image{
    width: 115px;
    height: 115px;
    float: left;
}
.list-title-image{
    width: 115px;
    height: 115px;
    float: left;
}
.added-titles{
    height: 150px;
    margin: 5px;
}