body{
    background-color: #ac6421;
}
#nav-bar{
    width: 100%;
    height: 14%;
}
#nav-list{
    list-style-type: none;
	list-style: none;
    display: flex;
    flex-direction: row;
    width: 30%;
    margin-left: 35%;
    margin-right: 35%;
    padding: 0%;
}
#nav-list li{
    margin: auto;
}
button{
    background-color: #3A5F74;
    border: none;
    border-radius: 5px;
    padding: 5px;
    font-size: 15px;
}
button:hover{
    background-color: #1f5574;
}
#shallow-search{
    width: 10%;
    margin-left: 45%;
    margin-top: 5px;
}

.search-form{
    width: 30%;
    margin-left: 35%;
    margin-right: 35%;
}
.search-result{
    height: 150px;
    margin: 5px;
}
.result-image{
    width: 115px;
    height: 115px;
    float: left;
}

.list-title-image{
    width: 115px;
    height: 115px;
    float: left;
    margin-top: 15px;
}
.added-title{
    border: 5px solid grey;
    height: 150px;
    margin: 5px;
    display: flex;
    width: 44%;
    margin-left: 28%;
    margin-right: 33%;
    flex-direction: row;
}
.title-header{
    display: flex;
    width: 100%;
    height: 30%;
    justify-content: space-between;
}
.title-plot{
    margin: auto;
    margin-top: 10px;
    float: right;
}
.delete-title-button{
    float: right;
}
.title-card-right{
    flex-direction: column;
    width: 100%;
    margin-left: 7px;
}
.list-title-name{
    margin-top: 0px;
}
.list-title-rating{
    margin-left: 5px;
    margin-right: 5px;
}