<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body>
    <nav id="nav-bar">
        <ul id="nav-list">
            <li><a href="{% url 'movies_page:home' %}"><button> Main Page </button></a></li>
            <li><a href="{% url 'movies_page:trending' %}"><button> Trending </button></a></li>
            {% if user.is_authenticated %}
            <li><a href="{% url 'movies_page:titles-list' %}"><button> My list </button></a></li>
            {% endif %}
            {% if user.is_authenticated %}
            <p>Hello, {{user}}</p>
            <li><a href="{% url 'users:logout' %}">Log out</a></li>
            {% else %}
            <li><a href="{% url 'users:login' %}"><button> Log in</button></a></li>
            <li><a href="{% url 'users:register' %}"><button> Sign Up</button></a></li>
            {% endif %}
        </ul>
    </nav>

    <main>
    {% block main %}
    <p>
        Movie DB Page.
    </p>
    {% endblock main %}
    </main>
</body>
</html>