{% extends "movies_data/base.html" %}

{% block main %}
  {% block added_movies %}
    {% if titles_data %}
      {% for title in titles_data %}
        <div class="added-title" >
            <img class="list-title-image" src="{{ title.image }}">
          <div class="title-card-right">
            <div class="title-header">

              <h2 class="list-title-name"> {{ title.title }} </h2>

              <div>
                <p class="list-title-rating"> {{ title.imDbRating }} </p>
                <p class="list-title-voters"> {{ title.imDbRatingVotes }} </p>
              </div>

              <a href="{% url 'movies_page:delete_title' title.id %}"><button class="delete-title-button">X</button></a>

            </div>

            <div class="title-plot">
              <p> {{ title.plot }} </p>
            </div>
          </div>
        </div>
      {% endfor %}
    {% else %}
      <p>no titles added</p>
    {% endif %}
  {% endblock added_movies %}
  {% block search %}
    
  <div id="shallow-search">
    <a href="{% url 'movies_page:shallow_search' %}"><button >Search</button></a>
  </div>
  {% endblock search %}
{% endblock main %}


